<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin:0px;
            padding:0px;
            overflow: hidden;
        }
        .task1{
            padding:10px;
            background-color: rgb(209, 170, 246);
            border:1px solid black;
            border-radius: 20px;

        }
        #inserttask{
            padding:10px;
            background-color: rgb(129, 244, 244);
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="navbar" style="padding:10px; background-color: burlywood;">
        <h1>TODO :V2 </h1>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 30px;">
        <div id="inserttask">
        <div class="task1">
            <h1>
                complete 3js today 
            </h1>
        </div>
    </div>
    </div>

    <h1><a href="{% url 'musicplayer:home' %}">naviagate to music player</a></h1>

</body>
</html>